header {
  background-color: #228B22;
  font-size: 30px;
  font-family: Lucida Grande;
  color: white;
  margin: -8px;
  border-bottom:solid #999999 1px;
  border-top:solid #999999 1px;
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.3);
}

button {
  background-color: #008000;
  border-radius: 5px;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  border: none;
  width: 100px;
  height: 40px;
}

main {
  background-color: white;
  border-radius: 5px;
  font-family: Lucida Grande;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  box-shadow: 0px 2px 20px -2px rgba(0,0,0,0.5);
  width: 60%;
}

ul {
  text-align: right;
  list-style-type: none;
  margin: 0px;
  padding: 0;
}

li {
  display: inline;
  margin: 10px;
}

body {
  background-color: rgb(241, 240, 245);
}

hr {
  width: 65%;
  height: 0;
  box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
}


footer {
  color: #999999;
  font-family: Lucida Grande;
  text-align: center;
  margin-left: 45%;
  margin-top: 30px;
}

@media (max-width: 450px)
{
  img {
    float: none;
    display: block;
    margin: 0 auto;
  }
  /*ul {
    display: block;
    padding-top: 5px;
  }*/
}
