body {
  background-image: url(../images/background.png);
  font-family: "Lucida Grande";
  margin: 0px;
}
header {
  background-color: rgb(196,196,196);
  padding: 20px;
  border-bottom: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
header a {
  color: white;
  text-decoration: none;
}
nav {
  float: right;
  font-size: 16px;
  color: white;
  text-shadow: 1px 1px black;
}
.logo {
  width: 190px;
}
li {
  display: inline;
  padding: 10px;
}
main {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 800px;
}
.button {
  background-color: rgb(51,60,181);
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}
footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  border-top: 1px solid rgb(193,193,193);
  margin-top: 40px;
  text-align: center;
  color: rgb(154,154,154);
  font-size: .7em;
  width: 850px;
}
