  label {
    width: 100px;
    cursor: pointer;
    display: inline-block;
  }
  .form-row {
    margin-bottom: 1em;
  }
  .text_input {
    width: 200px;
    border: 2px solid black;
    border-radius: 2px;
  }
  .text_input:invalid {
    border: 2px solid red;
  }
  .text_input:valid {
    border: 2px solid green;
  }
  .text_input:focus {
    box-shadow: none;
    border: 2px solid black;
    outline: none;
  }
